@model mvc_optimuz.Models.Contrato

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Editar">
    <input asp-for="Id" hidden/>
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>

        <div class="form-group row">
            <h2 class="text-info pl-3">Editar Contrato</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="NombreContrato" class="form-label">Nombre Contrato</label>
                    <input asp-for="NombreContrato" class="form-control" />
                    <span asp-validation-for="NombreContrato" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Descripcion" class="form-label">Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Precio" class="form-label">Precio</label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a asp-controller="Contrato" asp-action="Index" class="btn btn-success"> Regresar </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ <partial name="_ValidationScriptsPartial" />}
}
